:root{
    --preto--: #000000;
    --cinza--: #A9A9A9;
    --Azul--: #0000FF;
    --VIOleta--: #483D8B;
    --Azul--Ma--: #00BFFF;
    --LIMA--: #00FF00;
    --GRENN--: #7FFF00;
    --mARRON--: #8B4513;
    --vIOLETA--: #4B0082;
    --rosa--: #FF1493;
    --MELANcia--: #FF0000;
    --ORANGE--: #FF4500;
    --ORA--: #FF8C00;
    --AMAR--: #FFFF00;
    --Branco--: #FFFFFF;

}